/**
UI Experience reading
 */

.typo {
  padding: var(--spacing-little);
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 1.8rem;

  h1, h2, p {
    padding: var(--spacing-little);
  }

  h1, h2, h3, h4, b {
    font-weight: 700;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 34.5px;
    letter-spacing: -0.45px;
  }

  p, i, a {
    letter-spacing: -0.03px;
    line-height: 1.58;
  }

  a {
    text-decoration: underline;
  }

  ul {
    padding: var(--spacing-little) var(--spacing-large);
    list-style-type: disc;
  }

  ol {
    padding: var(--spacing-little) var(--spacing-large) var(--spacing-little) var(--spacing-medium);
    list-style-type: decimal;
  }

  li {
    padding: var(--spacing-small);
  }

  blockquote {
    font-size: 2.4rem;
    font-style: italic;
    letter-spacing: -0.36px;
    line-height: 44.4px;
    overflow-wrap: break-word;
    margin: var(--spacing-large);
    /* text-align: center; */
    color: rgba(0, 0, 0, 0.68);
    padding: var(--spacing-little);
    background-color: rgba(var(--sub-color), 0.05);
  }

  code {
    font-size: 18px;
    background: rgba(0,0,0,.05);
    border-radius: 2px;
    padding: 3px 5px;
  }

  mark, .h {
    background: var(--neutral-color);
  }

  .subtitle {
    color: rgba(0, 0, 0, 0.54);
    margin: 0 0 24px 0;
  }
}